{% extends 'base.html' %}

{% block head %}
    <title>New Posts</title>
{% endblock %}

{% block body %}
    <h1>New Posts</h1>
        <br>
        <h2>New Post:</h2>
        <form action="/posts" method="POST">
            <label for="title">Title:</label>
            <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" aria-label="Enter Title">
            <br>
            <label for="author">Author:</label>
            <input class="form-control" type="text" name="author" id="author" placeholder="Enter Post" aria-label="Enter Post">
            <br>
            <label for="content">Post:</label>
            <textarea class="form-control" name="content" id="content" rows="3" placeholder="Enter Content" aria-label="Enter Content"></textarea>
            <br>
            <input type="submit" value="Post">
        </form>
        <br>
{% endblock %}